<div id="na-main">

  <section id="slider">
    <div class="na-contacts">
      +7 495 <span>777 77 77</span>
      <br>
      <a href="mailto:hello@napolnenie-web.ru">hello@napolnenie-web.ru</a>
      <br>
      <img src="assets/learn.png">
    </div>
    <div class="na-slider">
      <div class="na-slider-prev"></div>
      <div class="na-slider-next"></div>
      <div class="na-inner">
	<% StaticPage.find_page(:main).slider_photos.each do |photo| %>
	  <%= image_tag(photo.image.url) %>
	<% end %>
      </div>
    </div>
    <div class="clearfix"></div>
  </section>

  <section id="why-us">
    <header>Почему именно мы?</header>
    <div class="na-text">
      Наша компания обладает уникальными инструментами, которые позволяют успешно таргетировать аудиторию для вирусного посева и оценить эффективность проведенных рекламных кампаний. Наша компания обладает уникальными инструментами, которые позволяют успешно таргетировать аудиторию для вирусного посева и оценить эффективность проведенных рекламных кампаний. Наша компания обладает уникальными инструментами, которые позволяют успешно таргетировать аудиторию для вирусного посева и оценить эффективность проведенных рекламных кампаний. Наша компания обладает уникальными инструментами, которые позволяют успешно таргетировать аудиторию для вирусного посева и оценить эффективность проведенных рекламных кампаний.
      <span>NAPOLNENIE - <span>это</span></span>
    </div>
    <div class="na-forms">
      <section class="na-form na-order hidden">
	<div class="na-inner">
	  <header>Заказать услугу</header>
	  <div class="na-button na-audit right"></div>
	  <form>
	    <table>
	      <tr>
		<td>
		  <div class="na-custom-select">
		    <select>
		      <option>Услуги</option>
		      <option>Услуга 1</option>
		      <option>Услуга 2</option>
		      <option>Услуга 3</option>
		    </select>
		  </div>
		</td>
		<td rowspan="3">
		  <textarea>Дополнительно</textarea>
		</td>
	      </tr>
	      <tr>
		<td><input type="text" value="Фамилия Имя"></td>
	      </tr>
	      <tr>
		<td><input type="text" value="Контактный телефон"></td>
	      </tr>
	      <tr>
		<td><input type="text" value="E-mail"></td>
		<td><button>Готово</button></td>
	      </tr>
	    </table>
	  </form>
	</div>
      </section>
      <div class="na-form na-audit hidden">
	<div class="na-button na-order left"></div>
      </div>
      <div class="na-buttons">
	<div class="na-button na-order left">
	  <div class="na-hint">Заказать услугу</div>
	</div>
	<div class="na-button na-audit right">
	  <div class="na-hint">Бесплатный аудит сайта</div>
	</div>
	<div class="clearfix"></div>
      </div>
    </div>
  </section>

  <section id="service">
    <header>Услуги</header>
    <div class="na-parallax-wrapper">
      <div class="na-shadow-top"><div class="na-shadow"><div></div></div></div>
      <div class="na-shadow-bottom"><div class="na-shadow"><div></div></div></div>

      <div class="na-parallax back"></div>
      <div class="na-cover"></div>
      <div class="na-parallax front"></div>

      <nav>
	<div class="na-item seo">
	  <span>SEO</span>
	  <div class="na-hint">комплекс мер для поднятия позиций сайта в результатах выдачи поисковых систем по определенным запросам пользователей</div>
	  <a href="#" class="circle-left"><span>товарных позиций</span></a>
	  <a href="#" class="circle-right"><span>удаленный контент-менеджмент</span></a>
	</div>
	<div class="na-item content">
	  <span>Наполнение</span>
	  <a href="#" class="circle-left"><span>товарных позиций</span></a>
	  <a href="#" class="circle-right"><span>удаленный контент-менеджмент</span></a>
	</div>
	<div class="na-item press active">
	  <span>Пресс-релизы</span>
	  <a href="#" class="circle-left"><span>товарных позиций</span></a>
	  <a href="#" class="circle-right"><span>удаленный контент-менеджмент</span></a>
	</div>
      </nav>

    </div>
  </section>

  <section id="clients">
    <header>Наши клиенты</header>
    <div class="na-slider">
      <div class="na-slider-prev"></div>
      <div class="na-slider-next"></div>
      <div class="na-inner">
	<% OurClient.all.each do |client| %>
	  <%= image_tag client.logo %>
	<% end %>
      </div>
    </div>
  </section>

  <section id="responses">
    <header><span>Отзывы о сотрудничестве</span></header>

    <div class="na-parallax-wrapper">
      <div class="na-parallax-back"></div>
      <div class="na-cover"></div>
    </div>

    <div class="na-tree" id="timeline">
    </div>

    <div id="na-responses-tree-more">больше</div>
</div>

<div class="hidden">

  <div class="year_structure">
    <section class="na-year new">
      <header></header>
    </section>
  </div>

  <div class="month_structure">
    <% Date::MONTHNAMES.each_with_index do |month, index| %>
      <% next if month.nil? %>
      <div class="na-item <%= index %>"><span><%= t(month) %></span></div>
    <% end %>
  </div>

  <div class="review_structure">
    <div class="na-item response new">
      <div>
	<div class="na-inner">
	  <div class="na-name"></div>
	  <div class="na-company"></div>
	  <div class="na-text"></div>
	</div>
      </div>
    </div>
  </div>

</div>
