<h2>This is images in slider</h2>

<% StaticPage.find_page(:main).slider_photos.each do |photo| %>
  <%= image_tag(photo.image.url) %>
<% end %>

<h2>This is a main text</h2>

<%== StaticPage.find_page(:main).text1 %>
