<div class="na-non-scrollable-bg"></div>

<div class="na-static-page">
  <%== @service.text %>
</div>

<footer>
  <section class="na-contacts">
    <div class="left">
      ул . Декабристов д. 6
    </div>
    <div class="na-right">
      +7 925 <span>27 66 651</span>
      <br>
      <a href="mailto:hello@napolnenie-web.ru">hello@napolnenie-web.ru</a>
    </div>
  </section>
</footer>
