<div class="na-non-scrollable-bg"></div>

<div class="na-static-page">
<%== @page.text1 %>
</div>

<footer>
 <section class="na-contacts">
    <div class="left">
      1500 Pearl Street Ste 301<br>
      Boulder, CO 80302<br>
      USA
    </div>
    <div class="na-right">
      +7 495 <span>777 77 77</span>
      <br>
      <a href="mailto:hello@napolnenie-web.ru">hello@napolnenie-web.ru</a>
    </div>
  </section>
</footer>