#clients
{
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  width: 975px; 
}
  #clients .na-slider .na-inner > div
  {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }  
    #clients .na-slider .na-inner .na-item
    {
      overflow: hidden;
      display: inline-block;
      margin: 0 1% 16px 0;
      width: 17%;
      height: 110px;
      text-align: center;
    }

     #clients .na-slider .na-inner .na-item:hover
     {
      opacity: 0.8
     }
      #clients .na-slider .na-inner > div .na-item:nth-child(5n)
      {
        margin-right: 0;
      }

      #clients .na-slider .na-inner .na-item span 
      {
        overflow: hidden;
        display: inline-block;
        box-sizing: border-box;
        width: 110px;
        height: 110px;
        background-color: #fff;
        border: 1px solid #d3d3d3;
        border-radius: 55px;
	      cursor: pointer; 
      }

	#clients .na-slider .na-inner .na-item .na-hint
      {
        opacity: 0;
        position: absolute;
        z-index: 1;
        box-sizing: border-box;
        width: 111px;
        height: 108px;
        padding: 30px 15px 30px 15px;
        line-height: 15px;
        text-align: center;
        color: #999;
	       margin-top: -138px;
	       margin-left: -23px;
        background: url(/assets/hint-small.png) no-repeat;
         -webkit-transition: opacity 0.3s ease;
         -moz-transition: opacity 0.3s ease;
         -o-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease;
      }
	#clients .na-slider .na-inner .na-item:hover .na-hint
        {
          opacity: 1;
        }

      #clients .na-slider .na-inner .na-item img
      {
        vertical-align: middle;
        height: 110px;
      }

    