/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

  html
, button
, input
, select
, textarea 
{
  color: #222;
}

body 
{
  margin: 0;
  min-width: 1000px;
  font-size: 85%;
  line-height: 1.4;
  background: #fff url(/assets/bg.png);
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
  font-family: 'Elektra Light Pro';
  src: url('/assets/fonts/elektra_light_pro-webfont.eot');
  src: url('/assets/fonts/elektra_light_pro-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/elektra_light_pro-webfont.woff') format('woff'),
       url('/assets/fonts/elektra_light_pro-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Elektra Light Pro Bold';
  src: url('/assets/fonts/elektra_light_pro_bold-webfont.eot');
  src: url('/assets/fonts/elektra_light_pro_bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/elektra_light_pro_bold-webfont.woff') format('woff'),
       url('/assets/fonts/elektra_light_pro_bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body > header 
{
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: rgba(255,255,255,.7);
  border-bottom: 1px solid #eaeaea;  
}
  #na-nav 
  {
    position: relative;
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1200px;
    height: inherit;
    line-height: 50px;
    text-align: center;
  }
    #na-nav a 
    {
      margin: 0 5px;
      padding: 4px 25px;
      font: normal 130% 'Elektra Light Pro';
      color: #222;
      text-decoration: none;
    }
      #na-nav a.active 
      {
        position: relative;
        background: #f8f8f8;
         background: -moz-linear-gradient(top,  #f8f8f8 0%, #e8e8e8 100%);
         background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#e8e8e8));
         background: -webkit-linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
         background: -o-linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
         background: -ms-linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
         background: linear-gradient(to bottom,  #f8f8f8 0%,#e8e8e8 100%);
         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e8e8e8',GradientType=0 );
        box-shadow: inset 0 0 0 1px #fff;
        border: 1px solid #d3d3d3;
        border-radius: 3px;
      }
  
  .na-shadow 
  {
    overflow: hidden;
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1200px;
    opacity: .75;
  }
    .na-shadow div
    {
      margin-top: -8px;
      height: 16px;
      background: -moz-radial-gradient(center, ellipse cover,  rgba(200,200,200,1) 0%, rgba(255,255,255,0) 100%);
      background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(200,200,200,1)), color-stop(100%,rgba(255,255,255,0)));
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(200,200,200,1) 0%,rgba(255,255,255,0) 100%);
      background: -o-radial-gradient(center, ellipse cover,  rgba(200,200,200,1) 0%,rgba(255,255,255,0) 100%);
      background: -ms-radial-gradient(center, ellipse cover,  rgba(200,200,200,1) 0%,rgba(255,255,255,0) 100%);
      background: radial-gradient(ellipse at center,  rgba(200,200,200,1) 0%,rgba(255,255,255,0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#00ffffff',GradientType=1 );
    }
    
    .na-logo-block
    {
      margin: 70px auto 0;
      padding-left: 25px;
      width: 975px;  
    }
      .na-logo-block .na-logo
      {
        width: 130px;
        height: 143px;
        background: url(/assets/logo.png) no-repeat;
      }

      .na-logo-block .na-contacts
      {
        margin-top: 5px;
        text-align: right;
        font: normal 140% 'Elektra Light Pro Bold';
      }
        .na-logo-block .na-contacts span 
        {
          color: #d30b00;
        }

        .na-logo-block .na-contacts a
        {
          color: inherit;
          text-decoration: none;
        }
          .na-logo-block .na-contacts a:hover
          {
            text-decoration: underline;
          }

        .na-logo-block .na-contacts img
        {
          margin-top: 25px;
        }

#na-main
{
  margin-top: 60px;
}
  #na-main > section 
  {
  }
    #na-main > section > header 
    {
      margin-bottom: 5px;
      padding-top: 60px;
      padding-bottom: 50px;
      font: normal 400% 'Elektra Light Pro Bold';
      color: #d65048;
      text-shadow: 0 1px 1px #333;
    }
      .na-slider 
      {
        position: relative;
        height: 362px;
      }
        .na-slider .na-slider-bg 
        {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
          .na-slider .na-slider-bg img 
          {
            position: absolute;
            display: none;
          }

        .na-slider .na-slider-prev,
        .na-slider .na-slider-next
        {
          cursor: pointer;
          position: absolute;
          top: 50%;
          margin-top: -26px;
          width: 52px;
          height: 52px;
          background-repeat: no-repeat;
        }
          .na-slider .na-slider-prev
          {
            left: -77px;
            background-image: url(/assets/slider-prev.png);
          }

          .na-slider .na-slider-next
          {
            right: -77px;
            background-image: url(/assets/slider-next.png);
          }

          .na-slider .na-inner
          {
            position: relative;
          }
            .na-slider .na-inner > *
            {
              position: absolute;
            }
	.na-slider .slider_text
	{position: absolute; 
	 bottom: 0px;
	 left: 0px;
	 padding: 10px;
	 font: 18px Elektra Light Pro; 
	 background: url (text_bg.png);

	}
	.na-slider .slider_text h2
	{color: #fff;
	 font: bold 32px Elektra Light Pro;
	 line-height: 0px;
	}

	.na-slider .slider_text p
	{color: #fff;
	 

	}

.na-non-scrollable-bg
{
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(/assets/bg.png);
}

.na-static-page
{  
  margin: 30px auto 80px;  
  padding-left: 25px;
  width: 975px;    
  font: normal 140% 'Elektra Light Pro';
}
  .na-static-page h1
  {
      margin: 0 0 5px -25px;
      padding-top: 60px;
      font: normal 300% 'Elektra Light Pro Bold';
      color: #d65048;
      text-shadow: 0 1px 1px #333;    
  }

footer 
{
  position: relative;
  text-align: center;
}
  footer .na-social a
  {
    opacity: 1;
    display: inline-block;
    margin: 0 10px;
    width: 119px;
    height: 119px;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 60px;
     -webkit-transition: opacity 0.3s ease;
     -moz-transition: opacity 0.3s ease;
     -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
  }
    footer .na-social a:hover
    {
      opacity: .6;
    }

    footer .na-social .facebook 
    {
      background-color: #00559e;
      background-image: url(/assets/facebook.png)
    }

    footer .na-social .vk 
    {
      background-color: #5479a1;
      background-image: url(/assets/vk.png)
    }

    footer .na-social .twitter 
    {
      background-color: #00cbff;
      background-image: url(/assets/twitter.png)
    }

    footer .na-social .mail 
    {
      background-color: #dc564e;
      background-image: url(/assets/mail.png)
    }

    footer .na-social .gplus
    {
      background-color: #c03929;
      background-image: url(/assets/gplus.png)
    }

    footer .na-social .mailru 
    {
      background-color: #004b88;
      background-image: url(/assets/mailru.png)
    }

    footer .na-social .odnoklassniki 
    {
      background-color: #e67d16;
      background-image: url(/assets/odnoklassniki.png)
    }

  footer section
  {
    margin-top: 30px;
  }
    footer section header
    {
      display: inline-block;
      margin-bottom: 20px;
      padding: 5px 15px 4px;
      font: normal 130% "Elektra Light Pro";
      text-shadow: none;
      color: #aa1f27;
      background: #fff;
      border: 1px solid #d3d3d3;
      border-radius: 5px;
      box-shadow: inset 0 3px 5px #eee, 0 1px 2px #ccc;
    }
      footer .na-payment .na-list a
      {
        opacity: 1;
        display: inline-block;
        margin: 0 10px;
        width: 119px;
        height: 119px;
        background-color: #fff;
        background-position: center center;
        background-repeat: no-repeat;
        border: 1px solid #bbb;
        border-radius: 60px;
         -webkit-transition: opacity 0.3s ease;
         -moz-transition: opacity 0.3s ease;
         -o-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease;
      }      
        footer .na-payment .na-list a:hover
        {
          opacity: .6;
        }

        footer .na-payment .na-list .qiwi
        {
          background-image: url(/assets/qiwi.png)
        }

        footer .na-payment .na-list .webmoney
        {
          background-image: url(/assets/webmoney.png)
        }

        footer .na-payment .na-list .yandex-money
        {
          background-image: url(/assets/yandex-money.png)
        }

        footer .na-payment .na-list .sberbank
        {
          background-image: url(/assets/sberbank.png)
        }

      footer .na-contacts
      {
        margin-left: auto;
        margin-right: auto;
        width: 780px;
        text-align: center;
        color: #6b6b6b;
      }

      footer .na-contacts > div
      {
        width: 50%;
        text-align: left;
        font: normal 150% 'Elektra Light Pro Bold';
      }
        footer .na-contacts .na-right
        {
          margin-left: 50%;
          text-align: right;
        } 
          footer .na-contacts .na-right a
          {
            text-decoration: none;
            color: inherit;
          }

          footer .na-contacts .na-right span 
          {
            color: #d30b00;
          }

  #na-top 
  {
    cursor: pointer;
    position: absolute;
    z-index: 9;
    bottom: 50px;
    right: 50px;
    width: 99px;
    height: 99px;
    background: url(/assets/top.png) no-repeat top;
    border-radius: 50px;
  }
    #na-top:hover
    {
      background-position: bottom;
    }

input::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder { color: #fff }
input:-moz-placeholder, 
textarea:-moz-placeholder { color: #fff }
input:-ms-input-placeholder, 
textarea:-ms-input-placeholder { color: #fff }


.left  { float: left  }
.right { float: right }


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
      background: transparent !important;
      color: #000 !important; /* Black prints faster: h5bp.com/s */
      box-shadow:none !important;
      text-shadow: none !important;
    }

    a,
    a:visited {
      text-decoration: underline;
    }

    a[href]:after {
      content: " (" attr(href) ")";
    }

    abbr[title]:after {
      content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
      content: "";
    }

    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }

    thead {
      display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
      page-break-inside: avoid;
    }

    img {
      max-width: 100% !important;
    }

    @page {
      margin: 0.5cm;
    }

    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }

    h2,
    h3 {
      page-break-after: avoid;
    }
}
