#responses
{
  position: relative;
  margin: 50px 0 92px;
  text-align: center;
  border-top: 1px solid #e3e3e3;
}
  #responses > header
  {
    position: absolute;
    z-index: 2;
    right: 0;
    left: 0;
    margin-top: -45px;
    text-align: center;
  }
    section#responses > header span
    {
      padding: 5px 15px 4px;
      font: normal 30% "Elektra Light Pro";
      text-shadow: none;
      background: #fff;
      border: 1px solid #d3d3d3;
      border-radius: 5px;
      box-shadow: inset 0 3px 5px #eee, 0 1px 2px #ccc;
    }

  #responses .na-parallax-wrapper
  {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: -62px;
    left: 0;
    border-bottom: 1px solid #e3e3e3;
  }
    #responses .na-parallax-wrapper .na-cover
    {
      overflow-x: hidden;
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: .7;
      background: #fff;
    }
      #responses .na-parallax-wrapper .na-parallax
      {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url(/assets/responses-parallax.png);
        background-repeat: repeat-y;
      }
        #responses .na-parallax-wrapper .na-parallax.front
        {
          background-position: 300px top;
        }

        #responses .na-parallax-wrapper .na-parallax.front
        {
          background-position: 300px top;
        }

  #responses .na-tree
  {
    position: relative;
    z-index: 2;
    margin: 100px auto;
    font: normal 100% "Elektra Light Pro"
  }
    #responses .na-tree .na-year > header
    {
      position: relative;
      display: inline-block;
      padding: 7px 12px 4px;
      font-size: 110%;
      background: #fff;
      border: 1px solid #d3d3d3;
      border-radius: 5px;
      box-shadow: inset 0 3px 5px #eee, 0 1px 2px #ccc;
    }
      #responses .na-tree .na-year > header:after,
      #responses .na-tree .na-year > .na-item:after
      {
        content: "";
        position: absolute;
        top: 100%;
        margin-left: -2px;
        width: 4px;
        height:100px;
        background-color: #d4534b;
      }
        #responses .na-tree .na-year:nth-of-type(n+2)
        {
          margin-top: 62px;
        }
          #responses .na-tree .na-year:nth-of-type(n+2) > header:before
          {
            content: "";
            position: absolute;
            top: -62px;
            left: 50%;
            margin-left: -2px;
            width: 3px;
            height: 62px;
            background-color: #d4534b;
          }

        #responses .na-tree .na-year > header:after
        {
          left: 50%;
        }

        #responses .na-tree .na-year > .na-item:after
        {
          left: 100%;
        }

      #responses .na-tree .na-year .na-item
      {
        position: relative;
        width: 50%;
        height: 20px;
        margin-top: 62px;
        text-align: right;
      }
        #responses .na-tree .na-year .na-item > span
        {
          padding-right: 15px;
        }
          #responses .na-tree .na-year .na-item > span
          {
            font-size: 130%;
          }

        #responses .na-tree .na-year .na-item > *:after
        {
          content: "";
          position: absolute;
          top: 50%;
          right: -6px;
          margin-top: -6px;
          width: 12px;
          height: 12px;
          background-color: #d4534b;
          border-radius: 6px;
        }
.na-bottom { background: url(bottom-opacity.png) left bottom repeat-x; height:20px; width:100%; position:absolute;bottom:2px;left:0;}
.na-contain {height:106px;position:relative;overflow: hidden;}
          #responses .na-tree .na-year .na-item.response .na-inner
          {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            position: absolute;
            top: 50%;
            right: 15px;
            margin: -60px 72px 0 0;
            padding: 10px 10px 0 10px;
            width: 40%;
            height: 120px;
            text-align: left;
            background-color: #fff;
            box-shadow: inset 3px 2px 10px #eee, 0 2px 3px #eee;
            border-width: 1px 0 1px 1px;
            border-style: solid;
            border-color: #d3d3d3;
            border-radius: 3px 0 0 3px;
          }
            #responses .na-tree .na-year .na-item.response:hover .na-inner
            {
              width: 83%;
            }

            #responses .na-tree .na-year .na-item.response .na-inner:after
            {
              position: absolute;
              top: -1px;
              right: -72px;
              content: url(/assets/response-right.png);
            }

            #responses .na-tree .na-year .na-item.response .na-inner .na-name
            {
              color: #aa1f27;
            }

            #responses .na-tree .na-year .na-item.response .na-inner .na-text
            {
              overflow: hidden;
              height: 65px;
              color: #767b7a;
            }

            #responses .na-tree .na-year .na-item.response:nth-of-type(even),
            #responses .na-tree .na-year .na-item.month:nth-of-type(even)
            {
              margin-left: 50%;
            }
              #responses .na-tree .na-year .na-item.response:nth-of-type(even):after,
              #responses .na-tree .na-year .na-item.month:nth-of-type(even):after
              {
                left: 0;
              }

              #responses .na-tree .na-year .na-item.response:nth-of-type(even) > *:after,
              #responses .na-tree .na-year .na-item.month:nth-of-type(even) > *:after
              {
                right: auto;
                left: -6px;
              }

              #responses .na-tree .na-year .na-item.month:nth-of-type(even)
              {
                text-align: left;
              }
                #responses .na-tree .na-year .na-item.month:nth-of-type(even) span
                {
                  padding: 0 0 0 15px;
                }

              #responses .na-tree .na-year .na-item.response:nth-of-type(even) .na-inner
              {
                right: auto;
                left: 15px;
                margin: -60px 0 0 72px;
                box-shadow: inset -3px 2px 3px #eee, 0 2px 3px #eee;
                border-width: 1px 1px 1px 0;
                border-radius: 0 3px 3px 0;
              }
                #responses .na-tree .na-year .na-item.response:nth-of-type(even) .na-inner:after
                {
                  right: auto;
                  left: -72px;
                  content: url(/assets/response-left.png);
                }

  #na-responses-tree-more
  {
    cursor: pointer;
    position: relative;
    z-index: 2;
    display: inline-block;
    padding: 4px 25px;
    font: normal 130% 'Elektra Light Pro';
    color: #222;
    background: #f8f8f8;
     background: -moz-linear-gradient(top,  #f8f8f8 0%, #e8e8e8 100%);
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#e8e8e8));
     background: -webkit-linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
     background: -o-linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
     background: -ms-linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
     background: linear-gradient(to bottom,  #f8f8f8 0%,#e8e8e8 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e8e8e8',GradientType=0 );
    box-shadow: inset 0 0 0 1px #fff;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
  }
