#why-us
{
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  width: 975px;    
}
  #why-us .na-text 
  {
    margin-left: 25px;
    font: normal 140% 'Elektra Light Pro';
  }  
    #why-us .na-text  span 
    {
      color: #cc463f;
    }
      #why-us .na-text  span span 
      {
        text-decoration: underline;
      }

  #why-us .na-forms
  {
    margin-top: 45px;
    font-size: 150%;
  }
    #why-us .na-forms .na-button
    {
      position: relative;
      width: 374px;
      height: 374px;
      background-repeat: no-repeat;
      background-position: center center;
    }

      #why-us .na-forms .na-button .na-hint 
      {
        opacity: 0;
        position: absolute;
        z-index: 1;
        box-sizing: border-box;
        width: 238px;
        height: 238px;
        text-align: center;
        font-size: 125%;
        background-repeat: no-repeat;
	display: none;
         -webkit-transition: opacity 0.3s ease;
         -moz-transition: opacity 0.3s ease;
         -o-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease;
      }
	#why-us .na-forms .na-button .popap
	 {
        display: none;
        position: absolute;
        z-index: 1;
        box-sizing: border-box;
        width: 238px;
        height: 238px;
        text-align: center;
        font-size: 125%;
        background-repeat: no-repeat;
         -webkit-transition: opacity 0.3s ease;
         -moz-transition: opacity 0.3s ease;
         -o-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease;
      }

        #why-us .na-forms .na-buttons .na-button:hover .na-hint 
        {
          opacity: 1;
	  display: block;
        }

      #why-us .na-forms .na-button.na-order
      {
        background-image: url(/assets/form-order.png);
      }
        #why-us .na-forms .na-button.na-order .na-hint
        {
          top: -70px;
          left: -130px;
          padding-top: 100px;
          color: #1b98bb;
          background-image: url(/assets/hint-blue.png);
	  font: 21px Elektra Light Pro; 
        }

	#why-us .na-forms .na-button.na-order .popap
        {
          top: -70px;
          left: -130px;
          padding-top: 100px;
          color: #1b98bb;
          background-image: url(/assets/hint-blue.png);
	  font: 21px Elektra Light Pro; 
        }


      #why-us .na-forms .na-button.na-audit
      {
        background-image: url(/assets/form-audit.png);
      }          
        #why-us .na-forms .na-button.na-audit .na-hint
        {
          top: -70px;
          right: -130px;
          padding-top: 90px;
          color: #aa1f27;
          background-image: url(/assets/hint-red.png);
	  font: 21px Elektra Light Pro; 
        }
	
	#why-us .na-forms .na-button.na-audit .popap
	{
          top: -70px;
          right: -130px;
          padding-top: 90px;
          color: #aa1f27;
          background-image: url(/assets/hint-red.png);
	  font: 21px Elektra Light Pro; 
        }

      #why-us .na-forms .na-form
      {
        position: absolute;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 380px;
      }    
        #why-us .na-forms .na-form.na-order 
        {          
          background-color: #1b98bb;
        }

        #why-us .na-forms .na-form.na-audit 
        {          
          background-color: #AA1F27;
        }

	.na-mail 
        {          
          background-color: #DC564E;
	  display:none;
          left: 0;
          z-index: 2;
          width: 100%;
          height: 380px;
	  font-size: 150%;
        }

	.na-mail .na-inner
        {
          margin: 35px auto 0;
          padding: 0 25px;
          width: 950px;
          color: #fff;
	  text-align: left;

        }

	.na-mail .na-inner > header
          {
            font: normal 140% 'Elektra Light Pro Bold';
            text-shadow: 0 1px 2px #333;
	    border: none;
	    background: none;
	    border-radius: 0px; 
	    box-shadow: none;
	    color: #fff;
	    margin-top: 35px;
	    padding: 0px;
          }
	

        #why-us .na-forms .na-form .na-inner
        {
          margin: 35px auto 0;
          padding: 0 25px;
          width: 950px;
          color: #fff;
        }
          #why-us .na-forms .na-form .na-inner > header
          {
            font: normal 140% 'Elektra Light Pro Bold';
            text-shadow: 0 1px 2px #333;
          }

          #why-us .na-forms .na-form.na-audit .na-inner 
          {
            text-align: right;
          }
            #why-us .na-forms .na-form.na-audit .na-inner form
            {
              float: right;
            }

          #why-us .na-form .na-button
          {
            width: 222px;
            height: 222px;
          }
            #why-us .na-forms .na-button
            {
              cursor: pointer;
            }

            #why-us .na-form .na-button.na-audit
            {
              background-image: url(/assets/form-audit-small.png);
            }

            #why-us .na-form .na-button.na-order
            {
              background-image: url(/assets/form-order-small.png);
            }

        #why-us .form_message
	{
	font: 20px Arial; 
	display: none;
	color: #ddd;
	line-height: 230px
	} 

	.na-mail .form_message
	{
	font: 20px Arial; 
	display: none;
	color: #ddd;
	line-height: 230px
	}
  
	#why-us .na-forms .na-form .na-inner form 
          {
            margin-top: 30px;
            text-align: right;
          }
            #why-us .na-forms .na-form .na-inner form td 
            { 
              vertical-align: top;
              padding: 0 10px 10px 0;
              width: 250px; 
            } 

	.na-mail .na-inner form td 
            { 
              vertical-align: top;
              padding: 0 10px 10px 0;
              width: 250px; 
            }

             
              #why-us .na-forms .na-form .na-inner form input,
              #why-us .na-forms .na-form .na-inner form textarea,
              #why-us .na-forms .na-form .na-inner form .na-custom-select span
              {
                box-sizing: border-box;
                width: 100%;
                padding: 7px 7px 5px;
                font: normal 90% 'Elektra Light Pro';
                color: #fff;
                background: transparent url(/assets/input-bg.png) center center;
                border: 1px solid #fff;
              }

	      .na-mail .na-inner form input,
              .na-mail .na-inner form textarea,
              .na-mail .na-inner form .na-custom-select span
              {
                box-sizing: border-box;
                width: 100%;
                padding: 7px 7px 5px;
                font: normal 90% 'Elektra Light Pro';
                color: #fff;
                background: transparent url(/assets/input-bg.png) center center;
                border: 1px solid #fff;
              }

                #why-us .na-forms .na-form .na-inner form textarea
                {
                  margin-left: 10px;
                  height: 139px;
                }

		 .na-mail .na-inner form textarea
                {
                  margin-left: 10px;
                  height: 139px;
                }

                #why-us .na-forms .na-form.na-audit .na-inner form textarea
                {
                 
                }

              #why-us .na-forms .na-form .na-inner form button
              {
                margin: 0;
                padding: 0;
                font: normal 170% 'Elektra Light Pro Bold';
                color: #fff;
                background: none;
                border: none;
		cursor: pointer;
              }

		.na-mail .na-inner form button
              {
                margin: 0;
                padding: 0;
                font: normal 170% 'Elektra Light Pro Bold';
                color: #fff;
                background: none;
                border: none;
		cursor: pointer;
              }
	
              #why-us .na-forms .na-form .na-inner form button:hover
		{color: #bbb
		}

	     .na-mail .na-inner form button:hover
		{color: #bbb
		}

              #why-us .na-forms .na-form .na-inner form .na-custom-select
              {
                overflow: hidden;
                position: relative;
              }
                #why-us .na-forms .na-form .na-inner form .na-custom-select select
                {
                  position: relative;
                  z-index: 10;
                  box-sizing: border-box;
                  display: block;
                  width: 250px;
                  height: 37px;
                }

                #why-us .na-forms .na-form .na-inner form .na-custom-select span
                {
                  position: absolute;
                  z-index: 1;     
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 0;    
                  text-align: left;  
		  line-height: 1.5       
                }
                  #why-us .na-forms .na-form .na-inner form .na-custom-select span:after
                  {
                    position: absolute;
                    right: 7px;
                    content: "▼";
                  }
