<div class="banner">
  <div class="image">
    <%= image_tag banner.image.url %>
  </div>
  <div class="text">
    <%== banner.text %>
  </div>
  <%= link_to 'Редактировать', edit_admin_banner_path(banner) %>
</div>
